.about-banner-top {
  background: var(--Color-neutrals-black, #1E1E1E);
  padding: 224px 0 123px;
}
.about-banner-top h1 {
  color: var(--Color-neutrals-white, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 17.531px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  margin: 0;
}
.about-banner-top .content {
  color: var(--Color-neutrals-white, #fff);
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
  margin-top: 23px;
  letter-spacing: 0.2px;
  padding-right: 80px;
  position: relative;
}
.about-banner-top .content .tooltip-active {
  color: #707070;
}
.about-banner-top .content .tt-image {
  display: inline-block;
  position: relative;
}
.about-banner-top .content .tt-image.active {
  color: #CCB4FB;
  transition: all 0.35s;
}
.about-banner-top .content .tt-image.active img {
  opacity: 1;
  visibility: visible;
}
.about-banner-top .content .tt-image img {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 210px;
  height: auto;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s;
}
.about-banner-top .container {
  max-width: 1455px;
}

@media (max-width: 1600px) {
  .about-banner-top {
    padding: 199px 0 107px;
  }
  .about-banner-top .container {
    max-width: 1240px;
  }
  .about-banner-top .content {
    line-height: 58.436px;
    padding-right: 55px;
  }
}
@media (max-width: 767px) {
  .about-banner-top {
    padding: 178px 0 121px;
  }
  .about-banner-top h1 {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.16px;
  }
  .about-banner-top .content {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 47.9px;
    padding-right: 0;
    margin-top: 39px;
    letter-spacing: 0;
    position: relative;
  }
  .about-banner-top .content .tt-image {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
    border-radius: 100px;
    border: 1px solid var(--Color-primary-lilac, #CCB4FB);
    background: var(--Color-neutrals-black, #1E1E1E);
    padding: 11px 9px;
    display: inline-block;
    color: #CCB4FB;
    position: static;
  }
  .about-banner-top .content .tt-image img {
    top: calc(var(--offsetTop) + 99px);
    top: calc(var(--offsetTop) + 48px);
    left: 0;
    width: 100%;
    transform: none;
  }
  #tooltip.show {
    opacity: 1 !important;
    bottom: 0 !important;
    top: auto !important;
    left: 0 !important;
    width: 100%;
    height: auto;
    letter-spacing: 0;
  }
}