.about-banner-cta {
  /* margin-top: -100px; */
  position: relative;
  padding: 207px 0 113px;
  border-radius: 45px;
  overflow: hidden;
}
.about-banner-cta .section-bkg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
}
.about-banner-cta .section-bkg img {
  object-fit: cover;
  object-position: bottom;
  height: 100%;
  width: 100%;
}
.about-banner-cta .container {
  max-width: 1200px;
}
.about-banner-cta .title {
  font-family: "Tiempos Headline";
  margin: 0;
  color: #fff;
}
.about-banner-cta .btn {
  margin-top: 30px;
  padding: 11px 35px 10px 22px;
  min-width: 177px;
}
.text-center {
  text-align: center;
}
@media (min-width: 1601px) {
  .about-banner-cta h2 {
    padding-right: 63px;
  }
}
@media (max-width: 1600px) {
  .about-banner-cta {
    padding: 193px 0 103px;
    border-radius: 30px;
  }
  .about-banner-cta .btn {
    margin-top: 21px;
  }
}
@media (max-width: 767px) {
  .about-banner-cta {
    padding: 177px 5px 161px;
  }
  .about-banner-cta .btn {
    margin-top: 55px;
    min-width: 246.106px;
    height: 44px;
  }
}