section.youtube-slider {
    padding-top: 93px;
    padding-bottom: 91px;
}

@media only screen and (min-width: 768px) {
    section.youtube-slider {
        padding-top: 95px;
        padding-bottom: 132px;
    }
}

@media only screen and (min-width: 1601px) {
    section.youtube-slider {
        padding-top: 131px;
        padding-bottom: 154px;
    }
}

@media only screen and (max-width: 600px) {
    .youtube-slider-slider.swiper {
        margin-right: -36px;
    }
}

.youtube-slider__wrapper {
    position: relative;
    overflow: hidden;
    padding-top: calc(195 / 358 * 100%);
    border-radius: 15px;
    cursor: pointer;
}

@media only screen and (min-width: 601px) {
    .youtube-slider__wrapper {
        padding-top: calc(219 / 391 * 100%);
    }
}

.youtube-slider__background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.youtube-slider__video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
}

@media only screen and (min-width: 601px) {
    .youtube-slider-slider.swiper {
        padding-top: 56px;
        margin-top: -56px;
    }
}

a.youtube-slider__nav-prev.button.secondary.only-arrow:after {
    content: "\f177";
}

.youtube-slider h2.youtube-slider__title {
    color: var(--colour-primary-Blue, #131436);
    font-family: "Noto Sans JP";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    max-width: calc(100% - 120px);
    margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
    .youtube-slider h2.youtube-slider__title {
        max-width: initial;
    }
}

@media only screen and (min-width: 601px) {
    .youtube-slider h2.youtube-slider__title {
        margin-bottom: 21px;
        max-width: initial;
    }
}

@media only screen and (min-width: 1441px) {
    .youtube-slider h2.youtube-slider__title {
        margin-bottom: 21px;
    }
}

.youtube-slider-slider h3.youtube-slider__video-title {
    color: var(--colour-Neutrals-Black, #232323);
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-style: normal;
    font-weight: 350;
    line-height: 29px;
    margin-top: 25px;
    margin-bottom: 0;
}

@media only screen and (min-width: 1441px) {
    .youtube-slider-slider h3.youtube-slider__video-title {
        margin-top: 13px;
    }
}

.youtube-slider h2.youtube-slider__title img {
    margin-right: 20px;
}

.youtube-slider__wrapper svg {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    z-index: 2;
}

@media only screen and (max-width: 375px) {
    .youtube-slider__wrapper svg {
        width: 100px;
        height: 100px;
    }
}

p.youtube-slider__actions {
    margin: 30px 0 0 0;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    p.youtube-slider__actions {
        margin: 34px 0 0 0;
    }
}

.youtube-slider__nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}

@media only screen and (max-width: 600px) {
    .youtube-slider__nav {
        display: none;
    }
}

.youtube-slider-slider .youtube-slider__pagination.swiper-pagination.swiper-pagination {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 49px auto 0 auto;
    padding: 0 6px;
    gap: 2px;
    z-index: 0;
    border-radius: 100px;
    border: 0px solid #C6C3E0;
    background: var(--white);
    box-shadow: 0px 6px 22.5px 0px rgba(0, 0, 0, 0.06);
    transform: translateX(-18px);
}

@media only screen and (min-width: 601px) {
    .youtube-slider-slider .youtube-slider__pagination.swiper-pagination.swiper-pagination {
        display: none !important;
    }
}

.youtube-slider__wrapper.active svg,
.youtube-slider__wrapper.active .youtube-slider__background-image {
    display: none;
}

.youtube-slider__wrapper.active .youtube-slider__video {
    opacity: 1;
}

.button.roll.youtube-slider__view-channel {
    padding: 10px 8px 10px 19px;
}

/* popup */
.grtyoutube-popup {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:99999;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	padding-top: 40px;
	padding-bottom: 10px;
}

.grtyoutube-popup-content {
	width:95%;
	max-width:850px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.grtyoutube-popup-close {
	position:absolute;
	top:-30px;
	right:0;
	color:#FFF;
	font-size:25px;
	width: 24px;
	height: 24px;
	cursor:pointer;
}

.grtyoutube-iframe {
	width:100%;
	height:480px;
}
@media (max-width:767px) {
	.grtyoutube-iframe {
		width:100%;
		height:350px;
	}
}

.grtyoutube-dark-theme{
	background: rgba(0,0,0, 0.85);
}

.grtyoutube-dark-theme .grtyoutube-popup-content {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.4);
	-moz-box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.4);
	box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.4);
}

.grtyoutube-dark-theme .grtyoutube-popup-close {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath d='M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z' style='&%2310; fill: %23fff;&%2310;'/%3E%3C/svg%3E") no-repeat;
}
/* end popup */