.phi-content-container.bg-black {
    color: #fff;
  }
  
  .phi-content-container {
    color: #000;
    border-radius: 45px;
  }
  @media screen and (max-width: 767.98px) {
    .phi-content-container .img-dk {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    .phi-content-container .img-mb {
      display: none;
    }
  }
  .phi-content-container .container {
    padding-top: 118px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: nowrap;
    gap: 36px;
    justify-content: space-between;
  }
  @media screen and (max-width: 1440.98px) {
    .phi-content-container .container {
      padding-top: 70px;
      padding-bottom: 57px;
    }
  }
  @media screen and (max-width: 767.98px) {
    .phi-content-container .container {
      padding-top: 82px;
      padding-bottom: 79px;
    }
  }
  .phi-content-container .image-container {
    width: 40.65%;
  }
  @media screen and (max-width: 1440.98px) {
    .phi-content-container .image-container {
      width: 43.75%;
    }
  }
  @media screen and (max-width: 767.98px) {
    .phi-content-container .image-container {
      width: calc(100vw - 72px);
      margin-left: -89px;
      margin-top: 78px;
    }
  }
  .phi-content-container .image-container .image {
    padding-bottom: 90.6%;
    background-position: center;
    background-size: cover;
  }
  .phi-content-container .content {
    width: 50%;
    max-width: 680px;
    display: flex;
  }
  @media screen and (max-width: 767.98px) {
    .phi-content-container .content {
      width: 100%;
      max-width: unset;
    }
  }
  .phi-content-container .content .label {
    font-family: Tiempos Headline;
    font-size: 70px;
    font-weight: 300;
    line-height: 84px;
    letter-spacing: 0.005em;
    width: 100px;
    color: inherit;
  }
  @media screen and (max-width: 767.98px) {
    .phi-content-container .content .label {
      font-size: 50px;
      line-height: 61px;
      width: 89px;
    }
  }
  .phi-content-container .content .text-container {
    width: calc(100% - 100px);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
  @media screen and (max-width: 767.98px) {
    .phi-content-container .content .text-container {
      width: calc(100% - 89px);
    }
  }
  .phi-content-container .content .text-container .title {
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
    color: inherit;
  }
  @media screen and (max-width: 1440.98px) {
    .phi-content-container .content .text-container .title {
      max-width: 484px;
    }
  }
  .phi-content-container .content .text-container .des {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: inherit;
    min-height: 160px;
    padding-bottom: 50px;
    max-width: 495px;
  }
  @media screen and (max-width: 1440.98px) {
    .phi-content-container .content .text-container .des {
      padding-bottom: 20px;
    }
  }
  @media screen and (max-width: 767.98px) {
    .phi-content-container .content .text-container .des {
      width: calc(100vw - 72px);
      margin-left: -89px;
      padding-bottom: 0;
      margin-top: 39px;
    }
  }
  .phi-content-container .img-right .content {
    order: -1;
  }