.projects-box-content {
  background: var(--Color-neutrals-white);
  border-radius: 45px;
  padding: 108px 0 92px;
  position: relative;
  z-index: 1
}

.projects-box-content .container {
  max-width: 1453px
}

.projects-box-content .column-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 18px
}

.projects-box-content .content {
  margin-left: auto;
  margin-right: 5.1%;
  max-width: 469px
}

.projects-box-content .title {
  align-self: stretch;
  color: #000;
  font-size: 36px;
  font-weight: 400;
  line-height: 128%;
  margin-top: 0
}

.projects-box-content .description {
  color: #232323;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .28px;
  line-height: 25px;
  margin-bottom: 40px
}

@media(max-width: 1600px) {
  .projects-box-content {
      border-radius:30px;
      padding: 78px 0 100px
  }

  .projects-box-content .container {
      max-width: 1243px
  }

  .projects-box-content .column-box {
      gap: 4px
  }

  .projects-box-content .content {
      max-width: 418px
  }
}

@media(max-width: 1199px) {
  .projects-box-content {
      padding:81px 0 50px
  }

  .projects-box-content .column-box {
      gap: 66px
  }
}

@media(max-width: 767px) {
  .projects-box-content {
      border-radius:30px
  }

  .projects-box-content .description {
      color: #000
  }

  .projects-box-content .content {
      margin-right: 0;
      max-width: 100%
  }

  .projects-box-content .content .btn {
      height: auto;
      letter-spacing: .02rem;
      line-height: 1.2;
      padding: 10px 58px 8px 17px
  }
}

@media(max-width: 429px) {
  .projects-box-content .content .btn {
      background-position:right 15px center;
      padding: 10px 58px 8px 17px;
      width: 100%
  }
}